<mat-toolbar>
    <div class="footer-text">
        Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> and
        <a
                href="http://www.flaticon.com/authors/epiccoders" title="EpicCoders">EpicCoders</a> from <a
            href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
        BY</a>
        &#9679; &#9679; &#9679;
        Background: <a href='http://www.freepik.com/free-photo/steel-pipelines-and-cables-in-a-plant_1119704.htm'>Designed
        by
        Freepik</a>
    </div>
</mat-toolbar>
