/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.view {
    background: url("assets/141.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}
